.menuTop ,.collapsedMenuTop{
    background-color: #002140;
    height: 64px;
    display: flex;
    padding-left: 24px;
    align-items: center;
    img{
        height: 32px;
    }
    h1{
        color: white;
        font-size: 20px;
        margin-left: 12px;
    }
}
.collapsedMenuTop{
    width: 80px;
}
.sideMenu{
    width: 220px;
    position: fixed;
    top: 0;
}