.tableList{
    
    background-color: white;
    padding: 24px;
    .antdTable{
        margin-top: 12px;
    }
    .ant-table-body{
        overflow-x: auto !important;
    }
    .actionButton{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
}

.ant-modal-title{
    font-weight: 600;
}