


.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.mainContent{
    margin: 24px 24px 0;
    background-color: white;
      padding: 16px 32px 0;
}

.app {
    display: flex;
    min-width: 1000px;
    .spin{
        position: absolute;
        left: 50%;
        top: 50%;
    }
    .siderMenu {
        background-color: #001529;
        height: 100vh;
        width: 256px;
        position:fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .appRight {
        flex: 1;
        position: relative;
        background-color: rgb(240, 242, 245);
        margin-left: 256px;
        min-height: 100vh;
        .pageHeader {
            margin-top: 64px;
        }

        .rightContent {
           min-height: 200px;
           
        }
    }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
lengend,
label,
button,
input,
select,
option,
textarea,
optgroup,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
div,
span,
img,
a,
em,
i,
iframe,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
option,
textarea,
optgroup,
img {
    font:  "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/**
 * created by 赵兰得隆(zhaolandelong@163.com) 2017/04/27
 * thanks for 玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)，normalize.css
 *
 * Reference links:
 * https://necolas.github.io/normalize.css/latest/normalize.css
 * http://www.cnblogs.com/yizuierguo/archive/2009/07/15/1524106.html
 */

/**
 * 1.统一盒模型模式 ie 8+ firefox 29+ chrome 10+ safari 6+ opera 15+ IOS 6+ Android 2.1+
 * 2.并非所有元素都有margin、padding大都是搭了box-sizing的便车
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
/* structural elements 结构元素 */
dl,
dt,
dd,
ul,
ol,
li,
/* list elements 列表元素 */
pre,
/* text formatting elements 文本格式元素 */
form,
fieldset,
lengend,
label,
button,
input,
select,
option,
textarea,
optgroup,
/* form elements 表单元素 */
table,
thead,
tbody,
tfoot,
tr,
th,
td,
/* table elements 表格元素 */
div,
span,
img,
a,
em,
i,
iframe,
/* 可能因改变display而影响box-sizing的元素 */
:before,
:after

/* CSS3规定伪元素用::before，伪类用:hover，为兼容PC端用:before */
    {
    box-sizing: border-box;
    /* 1 */
    margin: 0;
    /* 2 */
    padding: 0;
    /* 2 */
    font-size: 14px;
}

/**
 * img，body搭便车，让链接里的 img 无边框
 * 1.根据项目需要修改默认字体，参考https://segmentfault.com/a/1190000006110417
 * 2.表单元素
 */
body,
button,
input,
select,
option,
textarea,
optgroup,
img {
    font:  "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    /* 1 */
    outline: none;
    /* 2 */
    border: none;
    /* 2 */
}

/**
 * 1.Remove the default vertical scrollbar in IE.
 */
textarea {
    resize: none;
    overflow: auto;
    /* 1 */
}

/**
 * 重置列表元素
 */
ul,
ol {
    list-style: none;
}

/**
 * 链接，根据项目需要给:link,:visited,:hover,:active 增加 text-decoration: underline;
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
    text-decoration: none;
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}

/**
 * 重置表格元素
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * 根据项目需要调整参考如下
 * h1 { font-size: 18px; }
 * h2 { font-size: 16px; }
 * h3 { font-size: 14px; }
 * h4, h5, h6 { font-size: 100%; }
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

/**
 * H5元素适配IE9-
 */
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 50px;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
lengend,
label,
button,
input,
select,
option,
textarea,
optgroup,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
div,
span,
img,
a,
em,
i,
iframe,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
option,
textarea,
optgroup,
img {
    font:  "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

button,
html [type="button"],
[type="reset"],
[type="submit"],
::-webkit-file-upload-button {
    -webkit-appearance: button;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/**
 * created by 赵兰得隆(zhaolandelong@163.com) 2017/04/27
 * thanks for 玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)，normalize.css
 *
 * Reference links:
 * https://necolas.github.io/normalize.css/latest/normalize.css
 * http://www.cnblogs.com/yizuierguo/archive/2009/07/15/1524106.html
 */

/**
 * 1. 方便rem换算，针对2倍设计稿预设为50px。
 *    即1rem = 100px(设计稿上的)。devicePixelRatio * fontSize = 100
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
    font-size: 50px;
    /* 1 */
    -ms-text-size-adjust: none;
    /* 2 */
    -webkit-text-size-adjust: none;
    /* 2 */
}

/**
 * 去除表单元素点击之后的高亮
 */
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/**
 * 1.统一盒模型模式 ie 8+ firefox 29+ chrome 10+ safari 6+ opera 15+ IOS 6+ Android 2.1+
 * 2.并非所有元素都有margin、padding大都是搭了box-sizing的便车
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
/* structural elements 结构元素 */
dl,
dt,
dd,
ul,
ol,
li,
/* list elements 列表元素 */
pre,
/* text formatting elements 文本格式元素 */
form,
fieldset,
lengend,
label,
button,
input,
select,
option,
textarea,
optgroup,
/* form elements 表单元素 */
table,
thead,
tbody,
tfoot,
tr,
th,
td,
/* table elements 表格元素 */
div,
span,
img,
a,
em,
i,
iframe,
/* 可能因改变display而影响box-sizing的元素 */
::before,
::after

/* CSS3规定伪元素用::before，伪类用:hover */
    {
    box-sizing: border-box;
    /* 1 */
    margin: 0;
    /* 2 */
    padding: 0;
    /* 2 */
}

/**
 * img，body搭便车，让链接里的 img 无边框
 * 1.根据项目需要修改默认字体，参考https://segmentfault.com/a/1190000006110417
 * 2.表单元素
 */
body,
button,
input,
select,
option,
textarea,
optgroup,
img {
    font:  "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    /* 1 */
    outline: none;
    /* 2 */
    border: none;
    /* 2 */
}

/**
 * 1.Remove the default vertical scrollbar in IE.
 */
textarea {
    resize: none;
    overflow: auto;
    /* 1 */
}

/**
 * 重置列表元素
 */
ul,
ol {
    list-style: none;
}

/**
 * 链接，根据项目需要给:link,:visited,:hover,:active 增加 text-decoration: underline;
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
    text-decoration: none;
    background-color: transparent;
    /* 1 */
    -webkit-text-decoration-skip: objects;
    /* 2 */
}

/**
 * 重置表格元素
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * 根据项目需要调整参考如下
 * h1 { font-size: 18px; }
 * h2 { font-size: 16px; }
 * h3 { font-size: 14px; }
 * h4, h5, h6 { font-size: 100%; }
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
/* 1 */
[type="reset"],
[type="submit"],
::-webkit-file-upload-button {
    /* 2 */
    -webkit-appearance: button;
    /* 2 */
}

/**
 * 根据项目特点
 * 让右侧滚动条始终暴露，防止懒加载等情况下，突然出现滚动条造成页面晃动
 */
html {
    overflow-y: scroll;
}

/**
 * 1.用户长按选择文本，禁用设为none
 * 2.用户点击呼出系统默认菜单，禁用设为none
 */
body {
    -webkit-user-select: text;
    /* 1 */
    -moz-user-select: text;
    /* 1 */
    -ms-user-select: text;
    /* 1 */
    user-select: text;
    /* 1 */
    -webkit-touch-callout: default;
    /* 2 */
}

/**
 * 斜体扶正
 */
address,
cite,
dfn,
em,
var,
i {
    font-style: normal;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video,
canvas {
    display: inline-block;
}

/**
 * 统一等宽字体
 */
code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
    /* 1 */
    text-transform: none;
}

/**
 * 小于12px的中文很难阅读，让small正常化
 */
small {
    font-size: 12px;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
    overflow: hidden;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
/* 1 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
}

/**
 * Add the correct display in IE.
 * 1.IE 10-
 */
template,
[hidden] {
    /* 1 */
    display: none;
}

/**
 * 设置placeholder样式
 */
::-webkit-input-placeholder {
   
    line-height: 1;
    color: #eee;
}

/* WebKit browsers */
:-moz-placeholder {
    
    line-height: 1;
    color: #eee;
}

/* Mozilla Firefox 4 to 18 */
::-moz-placeholder {
   
    line-height: 1;
    color: #eee;
}

/* Mozilla Firefox 19+ */
:-ms-input-placeholder {
   
    line-height: 1;
    color: #eee;
}

/* Internet Explorer 10+ */

/**
 * 清除浮动
 */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/**
 * 伸缩盒
 */
.flex {
    display: box;
    /* OLD - Android 4.4- */
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex-1 {
    width: 0;
    /* For old syntax, otherwise collapses. */
    -webkit-box-flex: 1;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;
    /* OLD - Firefox 19- */
    -webkit-flex: 1;
    /* Chrome */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/**
 * H5标签
 */
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
    display: block;
}

#div {
    width: 96px;
    height: 48px;
    margin: 20px 20px;
    float: left;
    background-color: #ffffff;
    border-color: #000000;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;
}

#div:before {
    width: 12px;
    height: 12px;
    top: 50%;
    left: 0;
    content: "";
    position: absolute;
    background-color: #ffffff;
    border: 18px solid #000000;
    border-radius: 100%;
}

#div:after {
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    background-color: #000000;
    border: 18px solid #ffffff;
    border-radius: 100%;
    content: "";
    position: absolute;
}